<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        
    
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TheOneBotCLI.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Interactive.Async" publicKeyToken="94bc3704cddfc263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebSocket4Net" publicKeyToken="eb4e154b696bf72a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.15.2.11" newVersion="0.15.2.11" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.4.0" newVersion="1.2.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
<userSettings>
        <TheOneBotCLI.My.MySettings>
                <setting name="wake" serializeAs="String">
                        <value>/</value>
                </setting>
                <setting name="saveT" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="saved" serializeAs="String">
                        <value />
                </setting>
                <setting name="help" serializeAs="String">
                        <value>These are the default values and have not been changed
```css
help • • • • • • • • • • • • • • • Opens a list of commands
ping &lt;discord.com&gt; • • • • • • • • Pings a server and returns the delay in miliseconds (defaults to discord.com)
logout • • • • • • • • • • • • • • Signs the bot out of discord
```</value>
                </setting>
                <setting name="nWords" serializeAs="String">
                        <value>0</value>
                </setting>
                <setting name="debug" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="customCommands" serializeAs="String">
                        <value />
                </setting>
                <setting name="initialSetup" serializeAs="String">
                        <value>False</value>
                </setting>
        </TheOneBotCLI.My.MySettings>
    </userSettings>
</configuration>